#red{
	position: relative;
	border:3px solid red;
	width:200px;
	height:100px;
	background-color:white;
}
#yellow{
	border:3px solid yellow;
	width:200px;
	height:100px;
	background-color:white;
	position:absolute;
	left:215px;

}
#green{
	position:absolute;
	border:3px solid green;
	width:200px;
	height:100px;
	background-color:white;
}
